
#{extends 'main.html' /}
#{set title:"Blogs on WitPress" /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui active item" href="/publicblogdirectory">Public Blog Directory</a> 
  <a class="ui item" href="/about">About</a> 
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Logout</a>
</nav>

<div class="ui one column grid">
  <div class="ten wide column">
    <div class="ui segment">
      <div class="ui segment">

        #{list items:usersWithBlogs, as:'user'}
        <h4>
          <a href="@{PublicBlog.show(user.id)}"> ${user.firstName} ${user.lastName} Blog</a>
        </h4>
        <div class="ui divider"></div>
        #{/list}

      </div>
    </div>
  </div>
</div>