#{extends 'main.html' /}
#{set title:'About' /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="publicblogdirectory">Public Blog Directory</a> 
  <a class="ui active item" href="/about">About</a> 
  <a class="ui item" href="/contact">Contact</a>
</nav>


<div class="ui grid">
   <div class="six wide column">
    <div class="ui raised segment">
    <h3>Copyright 2013 WitPress All rights reserved.</h6>
    </div>
  </div>
</div>