#{extends 'main.html' /}
#{set title:"Contact" /}

<nav class="ui menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a> 
  <a class="ui item" href="/about">About</a> 
  <a class="ui active item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Logout</a>
</nav>


<div class="ui grid">
   <div class="six wide column">
    <div class="ui raised segment">
    <h3>witpress@wit.ie</h6>
    </div>
  </div>
</div>