#{extends 'main.html' /}
#{set title:'Sign up' /}

<nav class="ui menu">
  <a class="ui active item" href="/">WitPress</a>
</nav>

<section class="ui segment">
<form action="/register" method="POST">
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Sign Up</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" name="user.firstName" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" name="user.lastName" type="text">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="user.email" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="user.password">
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id="conditions" type="checkbox">
          <label for="conditions">I agree to the terms and conditions</label>
        </div>
      </div>
      <button type="submit" class="ui green submit button">Submit</button>
    </div>
  </div>
</div>
</form>
</section>